body{
    background: url("../img/beijing1.jpg") center; /* 首先增加背景图 */
    background-repeat: no-repeat; /* 将背景设置为不重复显示 */
    background-size: cover;
    /* 放大背景图片，使其覆盖整个背景区域，但可能有些部分无法显示 */
    background-attachment: fixed;
    /* 背景滚动时，固定背景 */
}

#content{
    position: absolute;
    border: 1px solid lightgoldenrodyellow;
    width: 50%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    background: wheat;
    padding: 20px 50px;
    margin-left: 20%;
}

.itxt{
    width: 200px; /* 设置合适的宽度 */
    border: 0; /* 首先将边界取消，方便下面修改下部边界宽度 */
    border-bottom: 5px solid white; /* 将下边界进行修改，显示出横线效果 */
    font-size: 18px; /* 将字体适当的变大加粗 */
    background: #ffffff00; /* 将输入框设置为透明 */
    color: white; /* 上面的文本颜色设置为白色，但是placeholder的颜色要单独设置 */
    padding: 5px 10px; /* 为了placeholder的内容不是顶格显示，增加内部边界 */
    margin-left: 2%;
}

.setIntroduction{
    margin-left: 2%;
    width: 200px;
    height:100px;
}

#qunzhu{
    margin-left: -36%;
}

#icon-jianjie{
    margin-left: -5%;
}

.groupCreater{
    margin-top:-4.5%;
}

.btns{
    border: 0; /* 取消按钮的边界 */
    width: 150px; /* 设置合适的按钮的长和宽 */
    height: 30px;
    font-size: 18px; /* 修改按钮文字的大小 */
    color: white; /* 修改按钮上文字的颜色 */
    border-radius: 25px; /* 将按钮的左右边框设置为圆弧 */
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); /* 为按钮增加渐变颜色 */
    cursor: pointer;
}

/*file*/

.head_portrait{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:40%;
    left: 35%;
    margin-left: -200px;
    margin-top: -50px;
    background: #737373;
    text-align: center;
}

.setHead{
    width: 60px; /* 宽度 */
    height: 30px; /* 高度 */
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    background: #1E90FF; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    color: white; /* 字体颜色 */
    font-size: 17px;
    margin-left:-290px;
    margin-top: 242px;
    position: absolute;
} /* 字体大小 */

.file1{
    margin-left: -290px;
    margin-top:14%;
    position: absolute;
}