body{
    background: url("../img/beijing1.jpg") center; /* 首先增加背景图 */
    background-repeat: no-repeat; /* 将背景设置为不重复显示 */
    background-size: cover;
    /* 放大背景图片，使其覆盖整个背景区域，但可能有些部分无法显示 */
    background-attachment: fixed;
    /* 背景滚动时，固定背景 */
}

#content{
    position: absolute;
    border: 1px solid blue;
    width: 50%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    background: wheat;
    padding: 20px 50px;
    margin-left: 20%;
}

.login_form{
    position: absolute;
    border: 1px solid white;
    width: 20%;
    height: 99.5%;
    text-align: left;
    margin-left: -6.8%;
    margin-top: -63.8%;
    background: silver;
}

.iconfont{
    margin-left:44%;
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    position: absolute;
    margin-top: 150%
}

.warn{
    position: absolute;
    margin-left: 30%;

}

.itxt{
    border: 0; /* 取消按钮的边界 */
    width: 150px; /* 设置合适的按钮的长和宽 */
    height: 30px;
    margin-top: 60px; /* 设置合适的上部外框的宽度，增加与上面的password框的距离 */
    font-size: 18px; /* 修改按钮文字的大小 */
    color: white; /* 修改按钮上文字的颜色 */
    border-radius: 25px; /* 将按钮的左右边框设置为圆弧 */
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); /* 为按钮增加渐变颜色 */
    margin-left: 10%;
    margin-top: 33%;
}

.inputs{
    width: 200px; /* 设置合适的宽度 */
    border: 0; /* 首先将边界取消，方便下面修改下部边界宽度 */
    border-bottom: 5px solid white; /* 将下边界进行修改，显示出横线效果 */
    font-size: 18px; /* 将字体适当的变大加粗 */
    background: #ffffff00; /* 将输入框设置为透明 */
    color: white; /* 上面的文本颜色设置为白色，但是placeholder的颜色要单独设置 */
    padding: 5px 10px; /* 为了placeholder的内容不是顶格显示，增加内部边界 */
    position: absolute;
    margin-top: 30%;
}

#account{
    position: absolute;
    margin-left: -3.7%;
    margin-top: 15.5%
}

#name{
    position: absolute;
    margin-left: -3.7%;
    margin-top: 12.5%;
}

#i_groupAccount{
    position: absolute;
    margin-left: -7%;
    margin-top: 15%;
}

#i_groupName{
    position: absolute;
    margin-left: -7%;
    margin-top: 12% ;
}

.radios{
    margin-left: 5%;
}
